h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.product{
    float:left;
    width: 300px;
    height: 240px;
    margin: 30px;
    position:relative;
}

.image{
    max-width: 100%;
    max-height: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    border: 3px solid black;
}

.price{
    float: right;
}

.title{
    position: absolute;
    color: #64C292;
}

.description{
    position: absolute;
    color:lightgray;
    font-size: 13px;
    bottom: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
  
[class*="col-"] {
    float: left;
    padding: 15px;
    margin-top: 30px;
}

ul {
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
li {
    margin-top:50px
}
.navbar {
    background-color: #64C292;
    color: white;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    top: 0;
    width: 100%;
    position: static;
}

.navbar h1{
    font-size: 20px;
}

.login-button {
    background-color: #6ED9A0;
    /* Makes the text white. */
    color: #FFFFFF;
    text-align: center;
    /* Add round borders. */
    border-radius: 8px;
    /* Padding works life an internal-margin. */
    padding-left: 70px;
    padding-right: 70px;
    padding-top:  10px;
    padding-bottom:  10px;
    margin-top: 20px;
    font-size: 16px;
    /* Apply our custom font. */
    font-family: "Source Sans Pro", sans-serif;
    /* <button> tag will add default styling, we want to discard it. */
    border:  none;
}

.email-input {
    border:  1px solid #64C292;
    background:  transparent;
    padding:  10px 30px 10px 30px;
    margin-top: 20px;
    border-radius:  10px;
    color:  white;
}

.password-input {
    border:  1px solid #64C292;
    background:  transparent;
    padding:  10px 30px 10px 30px;
    margin-top: 20px;
    border-radius:  10px;
    color:  white;
}

.login-form {
    /*  Use flexbox. */
    display:  flex;
    /* By default, it will be in a single horizontal row. */
    flex-direction: column;
    /* Align vertically and horizontally. */
    justify-content: center;
    align-items: center;
}

.branding-container {
    display: flex;
    flex-direction: row;
    margin-right: 30px;;
}
  
.title-container {
    color: white;
    display:  flex;
    flex-direction: column;
    /* Vertical alignment. */
    justify-content: center;
    /* This time, we don't want horizontal alignment. */
    /* Flex-start would mean left-alignment. */
    align-items: flex-start;
}

.page-container {
    display:  flex;
    justify-content: center;
    align-items:  center;
    flex-wrap:  wrap;
}

body {
    background-color: #2A363F;
    font-family: cursive;
    color: white;
    margin:0;
}